$bg-c1-dark: #000000;
$bg-c1-light: #FFFFFF;
$bg-c2-light: #FFFCFC;
$bg-c3-light: #F8F8F8;
$bg-c1-grey: #DEDDDC;
$bg-c2-grey: #D9D9D9;
$bg-c3-grey: #ccc;
$bg-c1-yellow: #F8B653;
$bg-c2-yellow: #E1B067;
$bg-c1-violet:#AE18E2;

$text-s: 16px;
$text-sl: 20px;
$text-base: 24px;
$text-x: 30px;
$text-xl: 40px;


$text-small: 200;
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;


$text-c1-light: #FFFFFF;
$text-c2-light: #F7F7F7;
$text-c3-light: #FFFCFC;
$text-c1-dark: #000000;
$text-c1-yellow: #F8B653;
$text-c1-grey: #CBC9C9;
$text-c1-red: #F50E0E;
$text-c1-violet: #AE18E2;




@mixin text($fs: $text-x, $fw: $text-regular, $c: $text-c1-dark) {
    font-size: $fs;
    font-weight: $fw;
    color: $c;
}

@mixin button($fs, $fw, $fc, $bg, $pd, $bd, $br, $bg-hover, $c-hover) {
    @include text($fs, $fw, $fc);
    background: $bg;
    padding: $pd;
    border: $bd;
    border-radius: $br;
    cursor: pointer;

    &:hover {
        background-color: $bg-hover;
        color: $c-hover;
    }
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    // width: 1280px;
}

header {
    .header-index {
        background: $bg-c1-dark;
        height: 50px;
        position: relative;
        border: 1px solid $text-c1-dark;
        width: 1280px;

        .container {
            .logo {
                .logo-cyber {
                    img {
                        position: absolute;
                        width: 116px;
                        height: 32px;
                        left: 24px;
                        top: 10px;
                    }
                }
            }

            .service {
                display: flex;

                .buy {
                    display: flex;
                    position: absolute;
                    left: 1027px;
                    right: 53.03%;
                    top: 8.33%;
                    bottom: 5.56%;

                    .logo-buy {
                        img {
                            width: 31px;
                            height: 31px;
                            top: 3px;

                        }
                    }

                }

                .test {
                    position: absolute;
                    left: 1058px;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    .txt {
                        font-style: normal;
                        line-height: 36px;
                        @include text($text-x, $text-light , $text-c1-light );
                    }
                }

                .login {
                    position: absolute;
                    width: 91px;
                    height: 32px;
                    top: 10px;
                    left: 1103px;

                    .login-user {
                        @include text($text-s, $text-light, $text-c2-light);
                        line-height: 19px;
                        border: 1px solid $text-c1-dark;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }

                .register {
                    position: absolute;
                    width: 90px;
                    height: 32px;
                    top: 10px;
                    left: 1170px;

                    .register-user {
                        @include text($text-s, $text-light , $text-c2-light );
                        line-height: 19px;
                        border: 1px solid $text-c1-dark;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }
    }
}

.menu {
    position: relative;
    width: 1280px;
    height: 50px;
    list-style: none;

    .txt-1 {
        position: absolute;
        width: 56px;
        height: 24px;
        top: 16px;
        left: 25px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-2 {
        position: absolute;
        width: 41px;
        height: 24px;
        top: 16px;
        left: 105px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-3 {
        position: absolute;
        width: 70px;
        height: 24px;
        top: 16px;
        left: 183px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-4 {
        position: absolute;
        width: 31px;
        height: 24px;
        top: 16px;
        left: 292px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-5 {
        position: absolute;
        width: 52px;
        height: 24px;
        top: 16px;
        left: 363px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }
}

.carousel {
    position: relative;
    width: 1280px;
    height: 530px;
    // top: 100px;
    background: $bg-c1-light;


    .img-shose {
        img {
            position: absolute;
            height: 392px;
            left: 86px;
            top: 5px;
        }
    }

    .product {
        position: absolute;
        width: 291px;
        height: 51px;
        left: 930px;
        top: 124px;

        h3 {
            font-style: normal;
            @include text($text-xl, $text-light, $text-c1-dark);
            line-height: 48px;
        }
    }

    .pdt-1 {
        position: absolute;
        width: 291px;
        height: 51px;
        left: 930px;
        top: 175px;

        p {
            font-style: normal;
            @include text($text-sl, $text-light , $text-c1-dark );
            line-height: 24px;
        }
    }

    .btn-buy {
        position: absolute;
        width: 150px;
        height: 50px;
        left: 930px;
        top: 225px;

        a {
            @include button($text-sl, $text-light , $text-c1-light , $bg-c1-yellow , 13px 35px 13px 34px, none, none, $bg-c1-yellow, $text-c1-light);
            text-decoration: none;
        }
    }

    .img-left {
        position: absolute;
        width: 66.13px;
        height: 45.71px;
        left: 18px;
        top: 175px;

        // a {
        //     .img{
        //         border: 1px solid rgba(0, 0, 0, 0.24);
        //         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        //         transform: rotate(-90deg);
        //     }

        // } 

    }

    .img-right {
        position: absolute;
        width: 66.13px;
        height: 45.71px;
        left: 1221.44px;
        top: 175px;
        z-index: 1;
        // a{
        //     .img{
        //         border: 1px solid rgba(0, 0, 0, 0.24);
        //         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        //         transform: rotate(90deg);
        //     }
        // }
    }

    .dots-1 {
        position: absolute;
        width: 15px;
        height: 15px;
        left: 597px;
        top: 390px;
    }

    .dots-2 {
        position: absolute;
        width: 15px;
        height: 15px;
        left: 635px;
        top: 390px;
    }

    .dots-3 {
        position: absolute;
        width: 15px;
        height: 15px;
        left: 667px;
        top: 390px;
    }

    .img-bottom {
        position: absolute;
        width: 1334px;
        height: 393px;
        top: 100px;
        // left: -36px;
    }
}

.feature {
    position: relative;
    width: 1280px;
    height: 1044px;
    // top: 630px;
    background: $bg-c2-light;

    .pdt-2 {
        position: absolute;
        width: 351px;
        height: 48px;
        left: 476px;
        top: 16px;

        h3 {
            font-style: normal;
            @include text($text-xl, $text-regular , $text-c1-dark );
            line-height: 48px;
        }
    }

    .feature-content {
        .card-item-1 {
            position: absolute;
            width: 334px;
            height: 369px;
            left: 99px;
            top: 153px;
            background: $bg-c3-light;

            .item {
                .top {
                    position: absolute;
                    width: 220px;
                    height: 156px;
                    left: 57px;
                    top: 45px;
                }

                .bottom-1 {
                    position: absolute;
                    width: 185px;
                    height: 29px;
                    left: 23px;
                    top: 231px;

                    h4 {
                        font-style: normal;
                        @include text($text-base, $text-light , $text-c1-dark );
                        line-height: 29px;
                    }
                }

                .bottom-2 {
                    position: absolute;
                    width: 153px;
                    height: 24px;
                    left: 23px;
                    top: 268px;

                    p {
                        font-style: normal;
                        @include text($text-sl, $text-light , $text-c1-grey );
                        line-height: 24px;
                    }
                }

                .btn-buy-2 {
                    position: absolute;
                    width: 175px;
                    height: 64px;
                    left: 0;
                    top: 322px;

                    .btn-1 {


                        a {
                            text-decoration: none;
                            @include button($text-base, $text-small , $text-c1-dark , $bg-c2-yellow , 17px 40px 18px 39px, none, none, $bg-c2-yellow, $text-c1-dark);
                            line-height: 29px;
                        }
                    }
                }

                .cost {
                    position: absolute;
                    width: 160px;
                    height: 64px;
                    left: 174px;
                    top: 322px;

                    span {
                        font-style: normal;
                        @include button($text-base, $text-semibold , $text-c1-dark , $bg-c1-grey , 17px 47.5px 18px 66px, none, none, $bg-c1-grey, $text-c1-dark);
                        line-height: 29px;
                    }

                }
            }

        }

        .card-item-2 {
            position: absolute;
            width: 334px;
            height: 369px;
            left: 500px;
            top: 153px;
            background: $bg-c3-light;

            .item {
                .top {
                    position: absolute;
                    width: 220px;
                    height: 156px;
                    left: 57px;
                    top: 45px;
                }

                .bottom-1 {
                    position: absolute;
                    width: 185px;
                    height: 29px;
                    left: 23px;
                    top: 231px;

                    h4 {
                        font-style: normal;
                        @include text($text-base, $text-light , $text-c1-dark );
                        line-height: 29px;
                    }
                }

                .bottom-2 {
                    position: absolute;
                    width: 153px;
                    height: 24px;
                    left: 23px;
                    top: 268px;

                    p {
                        font-style: normal;
                        @include text($text-sl, $text-light , $text-c1-grey );
                        line-height: 24px;
                    }
                }

                .btn-buy-2 {
                    position: absolute;
                    width: 175px;
                    height: 64px;
                    left: 0;
                    top: 322px;

                    .btn-1 {


                        a {
                            text-decoration: none;
                            @include button($text-base, $text-small , $text-c1-dark , $bg-c2-yellow , 17px 40px 18px 39px, none, none, $bg-c2-yellow, $text-c1-dark);
                            line-height: 29px;
                        }
                    }
                }

                .cost {
                    position: absolute;
                    width: 160px;
                    height: 64px;
                    left: 174px;
                    top: 322px;

                    span {
                        font-style: normal;
                        @include button($text-base, $text-semibold , $text-c1-dark , $bg-c1-grey , 17px 47.5px 18px 66px, none, none, $bg-c1-grey, $text-c1-dark);
                        line-height: 29px;
                    }

                }
            }

        }

        .card-item-3 {
            position: absolute;
            width: 334px;
            height: 369px;
            left: 900px;
            top: 153px;
            background: $bg-c3-light;

            .item {
                .top {
                    position: absolute;
                    width: 220px;
                    height: 156px;
                    left: 57px;
                    top: 45px;
                }

                .bottom-1 {
                    position: absolute;
                    width: 185px;
                    height: 29px;
                    left: 23px;
                    top: 231px;

                    h4 {
                        font-style: normal;
                        @include text($text-base, $text-light , $text-c1-dark );
                        line-height: 29px;
                    }
                }

                .bottom-2 {
                    position: absolute;
                    width: 153px;
                    height: 24px;
                    left: 23px;
                    top: 268px;

                    p {
                        font-style: normal;
                        @include text($text-sl, $text-light , $text-c1-grey );
                        line-height: 24px;
                    }
                }

                .btn-buy-2 {
                    position: absolute;
                    width: 175px;
                    height: 64px;
                    left: 0;
                    top: 322px;

                    .btn-1 {


                        a {
                            text-decoration: none;
                            @include button($text-base, $text-small , $text-c1-dark , $bg-c2-yellow , 17px 40px 18px 39px, none, none, $bg-c2-yellow, $text-c1-dark);
                            line-height: 29px;
                        }
                    }
                }

                .cost {
                    position: absolute;
                    width: 160px;
                    height: 64px;
                    left: 174px;
                    top: 322px;

                    span {
                        font-style: normal;
                        @include button($text-base, $text-semibold , $text-c1-dark , $bg-c1-grey , 17px 47.5px 18px 66px, none, none, $bg-c1-grey, $text-c1-dark);
                        line-height: 29px;
                    }

                }
            }

        }

        .card-item-4 {
            position: absolute;
            width: 334px;
            height: 369px;
            left: 99px;
            top: 571px;
            background: $bg-c3-light;

            .item {
                .top {
                    position: absolute;
                    width: 220px;
                    height: 156px;
                    left: 57px;
                    top: 45px;
                }

                .bottom-1 {
                    position: absolute;
                    width: 185px;
                    height: 29px;
                    left: 23px;
                    top: 231px;

                    h4 {
                        font-style: normal;
                        @include text($text-base, $text-light , $text-c1-dark );
                        line-height: 29px;
                    }
                }

                .bottom-2 {
                    position: absolute;
                    width: 153px;
                    height: 24px;
                    left: 23px;
                    top: 268px;

                    p {
                        font-style: normal;
                        @include text($text-sl, $text-light , $text-c1-grey );
                        line-height: 24px;
                    }
                }

                .btn-buy-2 {
                    position: absolute;
                    width: 175px;
                    height: 64px;
                    left: 0;
                    top: 322px;

                    .btn-1 {


                        a {
                            text-decoration: none;
                            @include button($text-base, $text-small , $text-c1-dark , $bg-c2-yellow , 17px 40px 18px 39px, none, none, $bg-c2-yellow, $text-c1-dark);
                            line-height: 29px;
                        }
                    }
                }

                .cost {
                    position: absolute;
                    width: 160px;
                    height: 64px;
                    left: 174px;
                    top: 322px;

                    span {
                        font-style: normal;
                        @include button($text-base, $text-semibold , $text-c1-dark , $bg-c1-grey , 17px 47.5px 18px 66px, none, none, $bg-c1-grey, $text-c1-dark);
                        line-height: 29px;
                    }

                }
            }

        }

        .card-item-5 {
            position: absolute;
            width: 334px;
            height: 369px;
            left: 500px;
            top: 571px;
            background: $bg-c3-light;

            .item {
                .top {
                    position: absolute;
                    width: 220px;
                    height: 156px;
                    left: 57px;
                    top: 45px;
                }

                .bottom-1 {
                    position: absolute;
                    width: 185px;
                    height: 29px;
                    left: 23px;
                    top: 231px;

                    h4 {
                        font-style: normal;
                        @include text($text-base, $text-light , $text-c1-dark );
                        line-height: 29px;
                    }
                }

                .bottom-2 {
                    position: absolute;
                    width: 153px;
                    height: 24px;
                    left: 23px;
                    top: 268px;

                    p {
                        font-style: normal;
                        @include text($text-sl, $text-light , $text-c1-grey );
                        line-height: 24px;
                    }
                }

                .btn-buy-2 {
                    position: absolute;
                    width: 175px;
                    height: 64px;
                    left: 0;
                    top: 322px;

                    .btn-1 {


                        a {
                            text-decoration: none;
                            @include button($text-base, $text-small , $text-c1-dark , $bg-c2-yellow , 17px 40px 18px 39px, none, none, $bg-c2-yellow, $text-c1-dark);
                            line-height: 29px;
                        }
                    }
                }

                .cost {
                    position: absolute;
                    width: 160px;
                    height: 64px;
                    left: 174px;
                    top: 322px;

                    span {
                        font-style: normal;
                        @include button($text-base, $text-semibold , $text-c1-dark , $bg-c1-grey , 17px 47.5px 18px 66px, none, none, $bg-c1-grey, $text-c1-dark);
                        line-height: 29px;
                    }

                }
            }

        }

        .card-item-6 {
            position: absolute;
            width: 334px;
            height: 369px;
            left: 900px;
            top: 571px;
            background: $bg-c3-light;

            .item {
                .top {
                    position: absolute;
                    width: 220px;
                    height: 156px;
                    left: 57px;
                    top: 45px;
                }

                .bottom-1 {
                    position: absolute;
                    width: 185px;
                    height: 29px;
                    left: 23px;
                    top: 231px;

                    h4 {
                        font-style: normal;
                        @include text($text-base, $text-light , $text-c1-dark );
                        line-height: 29px;
                    }
                }

                .bottom-2 {
                    position: absolute;
                    width: 153px;
                    height: 24px;
                    left: 23px;
                    top: 268px;

                    p {
                        font-style: normal;
                        @include text($text-sl, $text-light , $text-c1-grey );
                        line-height: 24px;
                    }
                }

                .btn-buy-2 {
                    position: absolute;
                    width: 175px;
                    height: 64px;
                    left: 0;
                    top: 322px;

                    .btn-1 {


                        a {
                            text-decoration: none;
                            @include button($text-base, $text-small , $text-c1-dark , $bg-c2-yellow , 17px 40px 18px 39px, none, none, $bg-c2-yellow, $text-c1-dark);
                            line-height: 29px;
                        }
                    }
                }

                .cost {
                    position: absolute;
                    width: 160px;
                    height: 64px;
                    left: 174px;
                    top: 322px;

                    span {
                        font-style: normal;
                        @include button($text-base, $text-semibold , $text-c1-dark , $bg-c1-grey , 17px 47.5px 18px 66px, none, none, $bg-c1-grey, $text-c1-dark);
                        line-height: 29px;
                    }

                }
            }

        }
    }
}

footer {
    img {
        position: absolute;
        width: 1280px;
        height: 242px;
    }
}



// Register
header {
    .header-register {
        background: $bg-c1-dark;
        height: 50px;
        position: relative;
        border: 1px solid $text-c1-dark;
        width: 1280px;

        .container {
            .logo {
                .logo-cyber {
                    img {
                        position: absolute;
                        width: 116px;
                        height: 32px;
                        left: 24px;
                        top: 10px;
                    }
                }
            }

            .service {
                display: flex;

                .buy {
                    display: flex;
                    position: absolute;
                    left: 1027px;
                    right: 53.03%;
                    top: 8.33%;
                    bottom: 5.56%;

                    .logo-buy {
                        img {
                            width: 31px;
                            height: 31px;
                            top: 3px;

                        }
                    }

                }

                .test {
                    position: absolute;
                    left: 1058px;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    .txt {
                        font-style: normal;
                        line-height: 36px;
                        @include text($text-x, $text-light , $text-c1-light );
                    }
                }

                .login {
                    position: absolute;
                    width: 91px;
                    height: 32px;
                    top: 10px;
                    left: 1103px;

                    .login-user {
                        @include text($text-s, $text-light, $text-c2-light);
                        line-height: 19px;
                        border: 1px solid $text-c1-dark;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }

                .register {
                    position: absolute;
                    width: 90px;
                    height: 32px;
                    top: 10px;
                    left: 1170px;

                    .register-user {
                        @include text($text-s, $text-light , $text-c2-light );
                        line-height: 19px;
                        border: 1px solid $text-c1-dark;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }
    }
}

.menu-register {
    position: relative;
    width: 1280px;
    height: 50px;
    list-style: none;

    .txt-1 {
        position: absolute;
        width: 56px;
        height: 24px;
        top: 16px;
        left: 25px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-2 {
        position: absolute;
        width: 41px;
        height: 24px;
        top: 16px;
        left: 105px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-3 {
        position: absolute;
        width: 70px;
        height: 24px;
        top: 16px;
        left: 183px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-4 {
        position: absolute;
        width: 31px;
        height: 24px;
        top: 16px;
        left: 292px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-5 {
        position: absolute;
        width: 52px;
        height: 24px;
        top: 16px;
        left: 363px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }
}

.register-content {
    position: relative;
    width: 1280px;
    height: 538px;
    background: $bg-c2-light;

    .top {
        position: absolute;
        width: 156px;
        height: 48px;
        left: 524px;
        top: 30px;

        h3 {
            @include text($text-xl, $text-regular , $text-c1-dark );
            font-style: normal;
            line-height: 48px;
        }
    }

    .bottom {
            #email {
                position: absolute;
                top: 130px;
                left: 120px;
                bottom: 362px;
                border: none;
                @include text($text-x, $text-regular , $text-c1-dark );
                line-height: 36px;
                width: 35%;
            }

            .star-1 {
                position: absolute;
                top: 149px;
                bottom: 355px;
                left: 578px;
                right: 469px;
                @include text($text-sl, $text-regular , $text-c1-red );
                line-height: 24px;
            }
            .line-1{
                position: absolute;
                width: 482px;
                top: 191px;
                bottom: 347px;
                left: 120px;
                border-bottom: 5px solid $text-c1-violet;
            }
            #name{
                position: absolute;
                top: 130px;
                bottom: 347px;
                left: 701px;
                border: none;
                @include text($text-x,$text-regular ,$text-c1-dark );
                line-height: 36px;
                width: 35%;
            }
            .star-4{
                position: absolute;
                top: 149px;
                left: 1159px;
                right: 112px;
                bottom: 355px;
                @include text($text-sl, $text-regular , $text-c1-red );
                line-height: 24px;
            }
            .line-4{
                position: absolute;
                width: 482px;
                top: 191px;
                bottom: 347px;
                left: 701px;
                border-bottom: 5px solid $text-c1-violet;
            }
            #password{
                position: absolute;
                left: 120px;
                right: 814px;
                top: 208px;
                bottom: 284px;
                border: none;
                @include text($text-x,$text-regular ,$text-c1-dark );
                line-height: 36px;
                width: 35%;
            }
            .star-2{
                position: absolute;
                top: 227px;
                left: 578px;
                right: 469px;
                bottom: 277px;
                @include text($text-sl, $text-regular , $text-c1-red );
                line-height: 24px;
            }
            .line-2{
                position: absolute;
                width: 482px;
                top: 269px;
                bottom: 269px;
                left: 120px;
                border-bottom: 5px solid $text-c1-violet;
            }
            #phone{
                position: absolute;
                left: 696px;
                right: 814px;
                top: 208px;
                bottom: 284px;
                border: none;
                @include text($text-x,$text-regular ,$text-c1-dark );
                line-height: 36px;
                width: 35%;
            }
            .star-5{
                position: absolute;
                top: 227px;
                left: 1159px;
                right: 107px;
                bottom: 277px;
                @include text($text-sl, $text-regular , $text-c1-red );
                line-height: 24px;
            }
            .line-5{
                position: absolute;
                width: 482px;
                top: 269px;
                bottom: 269px;
                left: 696px;
                border-bottom: 5px solid $text-c1-violet;
            }
            #password-comfirm{
                position: absolute;
                left: 120px;
                right: 814px;
                top: 292px;
                bottom: 200px; 
                border: none;
                @include text($text-x,$text-regular ,$text-c1-dark );
                line-height: 36px;
                width: 35%;
            }
            .star-3{
                position: absolute;
                top: 311px;
                left: 578px;
                right: 469px;
                bottom: 193px;
                @include text($text-sl, $text-regular , $text-c1-red );
                line-height: 24px;
            }
            .line-3{
                position: absolute;
                width: 482px;
                top: 353px;
                bottom: 185px;
                left: 120px;
                border-bottom: 5px solid $text-c1-violet;
            }
            .gender-1{
                position: absolute;
                width: 105px;
                height: 36px;
                left: 696px;
                top: 327px;
                @include text($text-x,$text-regular ,$text-c1-dark );
                line-height: 36px;
            }
            .male{
                position: absolute;
                top: 323px;
                left: 908px;
                @include text($text-x,$text-regular ,$text-c1-dark );
                &:hover input ~ .checkmark{
                    background-color: $bg-c3-grey;
                }
                & input:checked ~ .checkmark{
                    background-color: $bg-c2-grey;
                }
                & input:checked ~ .checkmark::after{
                    display: block;
                }
                & .checkmark::after{
                    width: 39.25px;
                    height: 30px;
                    border-radius: 50%;
                    top:10px;
                    left: 13px;
                    background-color: $bg-c1-violet;
                }
                .checkmark{
                    position: absolute;
                    border-radius: 50%;
                    background-color: $bg-c2-grey;
                    height: 50px;
                    width: 65.42px;
                    right: 100px;
                    &::after{
                        content: "";
                        position: absolute;
                        display: none;
                    }
                }
                #male{
                    opacity: 0;
                   
                }
            }
            
            .female{
                position: absolute;
                top: 323px;
                left: 1102px;
                @include text($text-x,$text-regular ,$text-c1-dark );
                &:hover input ~ .checkmark{
                    background-color: $bg-c3-grey;
                }
                & input:checked ~ .checkmark{
                    background-color: $bg-c2-grey;
                }
                & input:checked ~ .checkmark::after{
                    display: block;
                }
                & .checkmark::after{
                    width: 39.25px;
                    height: 30px;
                    border-radius: 50%;
                    top:10px;
                    left: 13px;
                    background-color: $bg-c1-violet;
                }
                .checkmark{
                    position: absolute;
                    border-radius: 50%;
                    background-color: $bg-c2-grey;
                    height: 50px;
                    width: 65.42px;
                    right: 140px;
                    &::after{
                        content: "";
                        position: absolute;
                        display: none;
                    }
                }
                #female{
                    opacity: 0;
                  
                }
            }
    }
    .btn-submit{
        position: absolute;
        top: 454px;
        left: 701px;
        right: 386.94px;
        bottom: 52px;
        .btn-submit-1{
            @include button($text-x,$text-regular ,$text-c3-light ,$bg-c1-violet ,6px 98.94px 12px 87.3px ,none ,none , $bg-c1-violet, $text-c3-light);
        }
    }
}

footer{
    position: absolute;
    width: 1280px;
    height: 242px;
}