$bg-c1-dark: #000000;
$bg-c1-light: #FFFFFF;
$bg-c2-light: #FFFCFC;
$bg-c3-light: #F8F8F8;
$bg-c1-grey: #DEDDDC;
$bg-c2-grey: #D9D9D9;
$bg-c3-grey: #ccc;
$bg-c4-grey: #bbc4cc;
$bg-c1-yellow: #F8B653;
$bg-c2-yellow: #E1B067;
$bg-c1-violet: #AE18E2;
$bg-c1-red: #f93737;

$text-s: 16px;
$text-sl: 20px;
$text-base: 24px;
$text-x: 30px;
$text-xl: 40px;


$text-small: 200;
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;


$text-c1-light: #FFFFFF;
$text-c2-light: #F7F7F7;
$text-c3-light: #FFFCFC;
$text-c1-dark: #000000;
$text-c1-yellow: #F8B653;
$text-c2-yellow:#E1B067;
$text-c1-grey: #CBC9C9;
$text-c1-red: #F50E0E;
$text-c1-violet: #AE18E2;
$text-c1-blue: #0000FF;




@mixin text($fs: $text-x, $fw: $text-regular, $c: $text-c1-dark) {
    font-size: $fs;
    font-weight: $fw;
    color: $c;
}
@mixin text-a($fs: $text-x, $fw:$text-regular,$c:$text-c1-dark,$c-hover){
    font-size: $fs;
    font-weight: $fw;
    color: $c;
    cursor: pointer;
    &:hover{
        color: $c-hover;
    }
}

@mixin button($fs, $fw, $fc, $bg, $pd, $bd, $br, $bg-hover, $c-hover) {
    @include text($fs, $fw, $fc);
    background: $bg;
    padding: $pd;
    border: $bd;
    border-radius: $br;
    cursor: pointer;

    &:hover {
        background-color: $bg-hover;
        color: $c-hover;
    }
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    // width: 1280px;
}

header {
    .header-index {
        background: $bg-c1-dark;
        height: 50px;
        position: relative;
        border: 1px solid $text-c1-dark;
        // width: 1280px;   

        .container {
            .logo {
                .logo-cyber {
                    img {
                        position: absolute;
                        width: 116px;
                        height: 32px;
                        left: 24px;
                        top: 10px;
                    }
                }
            }

            .service {
                display: flex;

                .buy {
                    display: flex;
                    position: absolute;
                    left: 1227px;
                    right: 53.03%;
                    top: 8.33%;
                    bottom: 5.56%;

                    .logo-buy {
                        img {
                            width: 31px;
                            height: 31px;
                            top: 3px;

                        }
                    }

                }

                .test {
                    position: absolute;
                    left: 1258px;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    .txt {
                        font-style: normal;
                        line-height: 36px;
                        @include text($text-x, $text-light , $text-c1-light );
                    }
                }

                .login {
                    position: absolute;
                    width: 91px;
                    height: 32px;
                    top: 10px;
                    left: 1303px;

                    .login-user {
                        @include text($text-s, $text-light, $text-c2-light);
                        line-height: 19px;
                        border: 1px solid $text-c1-dark;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }

                .register {
                    position: absolute;
                    width: 90px;
                    height: 32px;
                    top: 10px;
                    left: 1370px;

                    .register-user {
                        @include text($text-s, $text-light , $text-c2-light );
                        line-height: 19px;
                        border: 1px solid $text-c1-dark;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }
    }
}

.menu {
    position: relative;
    height: 50px;
    list-style: none;

    .txt-1 {
        position: absolute;
        width: 56px;
        height: 24px;
        top: 16px;
        left: 25px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-2 {
        position: absolute;
        width: 41px;
        height: 24px;
        top: 16px;
        left: 105px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-3 {
        position: absolute;
        width: 70px;
        height: 24px;
        top: 16px;
        left: 183px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-4 {
        position: absolute;
        width: 31px;
        height: 24px;
        top: 16px;
        left: 292px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-5 {
        position: absolute;
        width: 52px;
        height: 24px;
        top: 16px;
        left: 363px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }
}

.carousel-1 {
    .carousel {
        background: $bg-c1-light;
        position: relative;

        .carousel-indicators {
            position: absolute;
            top: 397px;

            li {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid rgba(0, 0, 0, 0.13);
                margin-left: 30px;

                &.active {
                    background-color: $bg-c1-red;
                }
            }
        }

        .carousel-inner {

            .carousel-item {
                background-image: url(../assets/img/image\ 6.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 530px;

                .carousel-thumb {
                    img {
                        margin-left: 122px;
                        width: 821px;
                        height: 392px;
                    }
                }

                .text-carousel {
                    position: absolute;
                    top: 124px;
                    left: 1130px;
                    right: 59px;
                    bottom: 355px;
                    @include text($text-xl, $text-light , $text-c1-dark );
                }

                .text-carousel-2 {
                    position: absolute;
                    top: 175px;
                    left: 1130px;
                    right: 59px;
                    bottom: 304px;
                    @include text($text-sl, $text-light , $text-c1-dark );
                }

                .btn-buy {
                    position: absolute;
                    top: 225px;
                    left: 1130px;
                    @include button($text-sl, $text-light , $text-c1-light , $bg-c1-yellow , 13px 35px 13px 34px, 1px solid $bg-c1-yellow , none, $bg-c1-light, $text-c1-yellow);
                }
            }
        }

        .carousel-control-prev {
            position: absolute;
            top: -100px;
            left: -70px;
        }

        .carousel-control-next {
            position: absolute;
            top: -100px;

            // right: -70px;
            img {
                position: absolute;
                right: 25px;
            }
        }


    }
}

.feature {
    position: relative;
    padding-top: 50px;
    background: $bg-c2-light;
    padding-bottom: 80px;

    .pdt-2 { 

        h3 {
            font-style: normal;
            @include text($text-xl, $text-regular , $text-c1-dark );
            line-height: 48px;
            text-align: center;
        }
    }

    #feature-content {
        padding-top: 89px;
            .feature-row{
                display: flex;
                flex-wrap: wrap;
                margin-left: 100px;
                padding-right: 30px;
                .card-product {
                    max-width:  30%;
                    flex: 0 0 30%;
                    width: 334px;
                    height: 460px;
                    background-color: $bg-c3-light;
                    margin-right: 40px;
                    margin-bottom: 50px;
                    position: relative;
        
                    .img-top {
                        text-align: center;
                        img {
                            width: 220px;
                            height: 220px;
                        }
                    }
                    .bottom-1{
                        margin-left: 10px;
                        margin-top: 30px;
                        @include text($text-base,$text-light ,$text-c1-dark );
                        line-height: 29px;
                    }
                    .bottom-2{
                        margin-left: 10px;
                        @include text($text-sl,$text-light ,$text-c1-grey );
                        line-height: 24px;
                    }
                    .btn-buy-2{
                        display: flex;
                        flex-wrap: wrap;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        .btn-buy-shose{
                            width: 50%;
                            flex: 0 0 50%;
                            @include button($text-base,$text-small ,$text-c1-dark ,$bg-c2-yellow ,17px 27px 18px 39px ,1px solid $bg-c2-yellow ,none , $bg-c1-light, $text-c2-yellow);
                        }
                        span{
                            text-align: center;
                            width: 50%;
                            flex: 0 0 50%;
                            @include text($text-base,$text-semibold ,$text-c1-dark );
                            line-height: 35px;
                            background-color: $bg-c1-grey;
                            padding: 17px 40px 18px 66px;
                        }
                    }
                    

                }
            }
        } 
        
    
}

footer {
    .footer-top{
        background: $bg-c3-light;
        padding: 30px 0;
        .container{
            .row{
                .get-footer{
                    border-right: 2px solid rgba(222,221,220,0.5);
                    h4{
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    ul{
                        list-style: none;
                        li{
                            a{
                                @include text-a($text-s,$text-light ,$text-c1-dark , $text-c1-red);
                                text-decoration: none;
                            }
                        }
                    }
                }
                .order-footer{
                    border-right: 2px solid rgba(222,221,220,0.5);
                    h4{
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    ul{
                        list-style: none;
                        li{
                            a{
                                @include text-a($text-s,$text-light ,$text-c1-dark , $text-c1-red);
                                text-decoration: none;
                            }
                        }
                    }
                }
                .register-footer{
                    h4{
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    p{
                        @include text($text-s,$text-light ,$text-c1-dark );
                    }
                    a{
                        @include text-a($text-s,$text-light ,$text-c1-red , $text-c1-blue);
                        text-decoration: none;
                    }
                }

            }
        }
    }
    .footer-bottom{
        background: $bg-c1-grey;
        padding: 30px 0;
        .container{
            .row{
                .sign-footer{
                    border-right: 2px solid $bg-c4-grey;
                    h4{
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    p{
                        @include text($text-s,$text-light ,$text-c1-dark );
                    }
                    a{
                        @include text-a($text-s,$text-light ,$text-c1-red , $text-c1-blue);
                        text-decoration: none;
                    }
                }
                .gift-footer{
                    border-right: 2px solid $bg-c4-grey;
                    h4{ 
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    p{
                        @include text($text-s,$text-light ,$text-c1-dark );
                    }
                    a{
                        @include text-a($text-s,$text-light ,$text-c1-red , $text-c1-blue);
                        text-decoration: none;
                    }
                }
                .store-footer{
                    h4{
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    p{
                        @include text($text-s,$text-light ,$text-c1-dark );
                    }
                    a{
                        @include text-a($text-s,$text-light ,$text-c1-red , $text-c1-blue);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.backToTop{
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    transition: all 0.2s;
    color: $text-c1-dark;
    visibility: hidden;
    opacity: 0;
    &:hover{
        color: $text-c1-red;
    }
    i{
        font-size: $text-xl;
    }
}
.cd-top--is-visible{
    visibility: visible;
    opacity: 1;
}


// Register
header {
    .header-register {
        background: $bg-c1-dark;
        height: 50px;
        position: relative;
        border: 1px solid $text-c1-dark;
        // width: 1280px;

        .container {
            .logo {
                .logo-cyber {
                    img {
                        position: absolute;
                        width: 116px;
                        height: 32px;
                        left: 24px;
                        top: 10px;
                    }
                }
            }

            .service {
                display: flex;

                .buy {
                    display: flex;
                    position: absolute;
                    left: 1227px;
                    right: 53.03%;
                    top: 8.33%;
                    bottom: 5.56%;

                    .logo-buy {
                        img {
                            width: 31px;
                            height: 31px;
                            top: 3px;

                        }
                    }

                }

                .test {
                    position: absolute;
                    left: 1258px;
                    right: 0;
                    top: 0;
                    bottom: 0;

                    .txt {
                        font-style: normal;
                        line-height: 36px;
                        @include text($text-x, $text-light , $text-c1-light );
                    }
                }

                .login {
                    position: absolute;
                    width: 91px;
                    height: 32px;
                    top: 10px;
                    left: 1303px;

                    .login-user {
                        @include text($text-s, $text-light, $text-c2-light);
                        line-height: 19px;
                        border: 1px solid $text-c1-dark;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }

                .register {
                    position: absolute;
                    width: 90px;
                    height: 32px;
                    top: 10px;
                    left: 1370px;

                    .register-user {
                        @include text($text-s, $text-light , $text-c2-light );
                        line-height: 19px;
                        border: 1px solid $text-c1-dark;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }
    }
}

.menu-register {
    position: relative;
    height: 50px;
    list-style: none;

    .txt-1 {
        position: absolute;
        width: 56px;
        height: 24px;
        top: 16px;
        left: 25px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-2 {
        position: absolute;
        width: 41px;
        height: 24px;
        top: 16px;
        left: 105px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-3 {
        position: absolute;
        width: 70px;
        height: 24px;
        top: 16px;
        left: 183px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-4 {
        position: absolute;
        width: 31px;
        height: 24px;
        top: 16px;
        left: 292px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }

    .txt-5 {
        position: absolute;
        width: 52px;
        height: 24px;
        top: 16px;
        left: 363px;

        a {
            text-decoration: none;
            font-style: normal;
            @include text($text-sl, $text-regular , $text-c1-dark );
            line-height: 24px;
        }
    }
}

.register-content {
    position: relative;
    height: 538px;
    background: $bg-c2-light;

    .top {
        text-align: center;
        padding-top: 30px;

        h3 {
            @include text($text-xl, $text-regular , $text-c1-dark );
            font-style: normal;
            line-height: 48px;
        }
    }

    .bottom {
        #email {
            position: absolute;
            top: 130px;
            left: 270px;
            bottom: 362px;
            border: none;
            @include text($text-x, $text-regular , $text-c1-dark );
            line-height: 36px;
            width: 30%;
        }

        .star-1 {
            position: absolute;
            top: 149px;
            bottom: 355px;
            left: 738px;
            right: 469px;
            @include text($text-sl, $text-regular , $text-c1-red );
            line-height: 24px;
        }

        .line-1 {
            position: absolute;
            width: 482px;
            top: 191px;
            bottom: 347px;
            left: 270px;
            border-bottom: 5px solid $text-c1-violet;
        }

        #name {
            position: absolute;
            top: 130px;
            bottom: 347px;
            left: 851px;
            border: none;
            @include text($text-x, $text-regular , $text-c1-dark );
            line-height: 36px;
            width: 30%;
        }

        .star-4 {
            position: absolute;
            top: 149px;
            left: 1309px;
            right: 112px;
            bottom: 355px;
            @include text($text-sl, $text-regular , $text-c1-red );
            line-height: 24px;
        }

        .line-4 {
            position: absolute;
            width: 482px;
            top: 191px;
            bottom: 347px;
            left: 851px;
            border-bottom: 5px solid $text-c1-violet;
        }

        #password {
            position: absolute;
            left: 270px;
            right: 814px;
            top: 208px;
            bottom: 284px;
            border: none;
            @include text($text-x, $text-regular , $text-c1-dark );
            line-height: 36px;
            width: 30%;
        }

        .star-2 {
            position: absolute;
            top: 227px;
            left: 738px;
            right: 469px;
            bottom: 277px;
            @include text($text-sl, $text-regular , $text-c1-red );
            line-height: 24px;
        }

        .line-2 {
            position: absolute;
            width: 482px;
            top: 269px;
            bottom: 269px;
            left: 270px;
            border-bottom: 5px solid $text-c1-violet;
        }

        #phone {
            position: absolute;
            left: 846px;
            right: 814px;
            top: 208px;
            bottom: 284px;
            border: none;
            @include text($text-x, $text-regular , $text-c1-dark );
            line-height: 36px;
            width: 30%;
        }

        .star-5 {
            position: absolute;
            top: 227px;
            left: 1309px;
            right: 107px;
            bottom: 277px;
            @include text($text-sl, $text-regular , $text-c1-red );
            line-height: 24px;
        }

        .line-5 {
            position: absolute;
            width: 482px;
            top: 269px;
            bottom: 269px;
            left: 846px;
            border-bottom: 5px solid $text-c1-violet;
        }

        #password-comfirm {
            position: absolute;
            left: 270px;
            right: 814px;
            top: 292px;
            bottom: 200px;
            border: none;
            @include text($text-x, $text-regular , $text-c1-dark );
            line-height: 36px;
            width: 30%;
        }

        .star-3 {
            position: absolute;
            top: 311px;
            left: 728px;
            right: 469px;
            bottom: 193px;
            @include text($text-sl, $text-regular , $text-c1-red );
            line-height: 24px;
        }

        .line-3 {
            position: absolute;
            width: 482px;
            top: 353px;
            bottom: 185px;
            left: 270px;
            border-bottom: 5px solid $text-c1-violet;
        }

        .gender-1 {
            position: absolute;
            width: 105px;
            height: 36px;
            left: 846px;
            top: 327px;
            @include text($text-x, $text-regular , $text-c1-dark );
            line-height: 36px;
        }

        .male {
            position: absolute;
            top: 323px;
            left: 1058px;
            @include text($text-x, $text-regular , $text-c1-dark );

            &:hover input~.checkmark {
                background-color: $bg-c3-grey;
            }

            & input:checked~.checkmark {
                background-color: $bg-c2-grey;
            }

            & input:checked~.checkmark::after {
                display: block;
            }

            & .checkmark::after {
                width: 39.25px;
                height: 30px;
                border-radius: 50%;
                top: 10px;
                left: 13px;
                background-color: $bg-c1-violet;
            }

            .checkmark {
                position: absolute;
                border-radius: 50%;
                background-color: $bg-c2-grey;
                height: 50px;
                width: 65.42px;
                right: 100px;

                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                }
            }

            #male {
                opacity: 0;

            }
        }

        .female {
            position: absolute;
            top: 323px;
            left: 1252px;
            @include text($text-x, $text-regular , $text-c1-dark );

            &:hover input~.checkmark {
                background-color: $bg-c3-grey;
            }

            & input:checked~.checkmark {
                background-color: $bg-c2-grey;
            }

            & input:checked~.checkmark::after {
                display: block;
            }

            & .checkmark::after {
                width: 39.25px;
                height: 30px;
                border-radius: 50%;
                top: 10px;
                left: 13px;
                background-color: $bg-c1-violet;
            }

            .checkmark {
                position: absolute;
                border-radius: 50%;
                background-color: $bg-c2-grey;
                height: 50px;
                width: 65.42px;
                right: 140px;

                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                }
            }

            #female {
                opacity: 0;

            }
        }
    }

    .btn-submit {
        position: absolute;
        top: 454px;
        left: 851px;
        right: 386.94px;
        bottom: 52px;

        .btn-submit-1 {
            @include button($text-x, $text-regular , $text-c3-light , $bg-c1-violet , 6px 98.94px 12px 87.3px, none, none, $bg-c1-violet, $text-c3-light);
        }
    }
}

footer {
    padding-top: 30px;
    .footer-top-1{
        background: $bg-c3-light;
        padding: 30px 0;
        .container{
            .row{
                .get-footer{
                    border-right: 2px solid rgba(222,221,220,0.5);
                    h4{
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    ul{
                        list-style: none;
                        li{
                            a{
                                @include text-a($text-s,$text-light ,$text-c1-dark , $text-c1-red);
                                text-decoration: none;
                            }
                        }
                    }
                }
                .order-footer{
                    border-right: 2px solid rgba(222,221,220,0.5);
                    h4{
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    ul{
                        list-style: none;
                        li{
                            a{
                                @include text-a($text-s,$text-light ,$text-c1-dark , $text-c1-red);
                                text-decoration: none;
                            }
                        }
                    }
                }
                .register-footer{
                    h4{
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    p{
                        @include text($text-s,$text-light ,$text-c1-dark );
                    }
                    a{
                        @include text-a($text-s,$text-light ,$text-c1-red , $text-c1-blue);
                        text-decoration: none;
                    }
                }

            }
        }
    }
    .footer-bottom-1{
        background: $bg-c1-grey;
        padding: 30px 0;
        .container{
            .row{
                .sign-footer{
                    border-right: 2px solid $bg-c4-grey;
                    h4{
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    p{
                        @include text($text-s,$text-light ,$text-c1-dark );
                    }
                    a{
                        @include text-a($text-s,$text-light ,$text-c1-red , $text-c1-blue);
                        text-decoration: none;
                    }
                }
                .gift-footer{
                    border-right: 2px solid $bg-c4-grey;
                    h4{ 
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    p{
                        @include text($text-s,$text-light ,$text-c1-dark );
                    }
                    a{
                        @include text-a($text-s,$text-light ,$text-c1-red , $text-c1-blue);
                        text-decoration: none;
                    }
                }
                .store-footer{
                    h4{
                        @include text($text-base,$text-semibold ,$text-c1-dark );
                        padding-bottom: 5px;
                    }
                    p{
                        @include text($text-s,$text-light ,$text-c1-dark );
                    }
                    a{
                        @include text-a($text-s,$text-light ,$text-c1-red , $text-c1-blue);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}